/* color: pale green #136d7f palewhite: #dcdde1 +dutchpallette*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: #dcdde1;
  color: #2f3542;

  width: 100%;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}

li {
  margin-top: 15px;
}
a {
  text-decoration: none;
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.2em;
  }

  p {
    font-size: 1.2em;
  }
  li {
    font-size: 1.2em;
  }
}
