.container {
  margin: 0 auto;
  max-width: 1500px;
  position: relative;
}
.containerText {
  position: absolute;
  top: 20px;
  padding: 0 20px;
  background-color: rgba(153, 153, 153, 0.5);
}
.containerText h1 {
  color: white;
  text-align: center;
  padding: 20px;
}

.content {
  margin: 20px auto;
  padding: 15px;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content h3 {
  flex: 2;
  padding: 50px;
}

.content p {
  flex: 2;
  padding: 15px;
}

.guarantee {
  margin: 10px auto 20px;
  padding: 15px;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.guarantee h3 {
  flex: 3;
  padding: 50px;
}

.guarantee p {
  flex: 3;
  padding: 15px;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 850px;
  text-align: center;
  background-color: #c4e538;
}
.frame {
  width: 560px;
  height: 315px;
}

@media (max-width: 600px) {
  .containerText h1 {
    color: white;
    text-align: center;
    padding: 15px;
  }

  .content {
    flex-direction: column;
  }
  .content h3 {
    padding: 15px;
  }
  .video {
    height: 250px;
    height: 500px;
  }
  .frame {
    width: 250px;
    height: 150px;
  }

  .guarantee {
    flex-direction: column;
  }
  .guarantee h3 {
    padding: 15px;
  }
}
