.header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  background-color: #136d7f;
}
.logo {
  padding-left: 20px;

  margin-right: auto;
  cursor: pointer;
}
.header li {
  display: inline-block;
  margin: 10px;
}
.navList {
  width: 100%;
}
.notshow {
  display: none;
}

.nav-item {
  margin-right: 0.6rem;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: all 0.5s ease 0;
}

.active-nav-item {
  background-color: #ced6e0;
  padding: 10px;
  color: black;
  font-weight: bolder;
  border-radius: 10px;
}
.nav-item:hover {
  color: black;
}

@media (min-width: 960px) {
  .notshow {
    display: initial;
    width: 700px;
  }
  .nav-item {
    display: inline-block;
    position: relative;
    color: white;
  }

  .nav-item::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: hsl(243, 80%, 62%);
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .active-nav-item {
    background-color: inherit;
    color: black;
    padding: 0;
  }
}
