.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.content {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
